POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=transcendence
POSTGRES_PASSWORD=transcendence_password
POSTGRES_DB=transcendence
DATABASE_URL=postgresql://transcendence:transcendence_password@localhost:5432/transcendence



BACKEND_PORT=3001
JWT_SECRET=FT_TRANSCENDENCE_SECRET_2026
JWT_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
CORS_ORIGIN="http://localhost:3000"


GOOGLE_CLIENT_ID=your_client_id_here
GOOGLE_CLIENT_SECRET=your_client_secret_here
GOOGLE_CALLBACK_URL="http://localhost:3000/callback"